################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CDI-Games/copilot-chat/b5b3d564/sessions
/.vs
