body {
    font-family: Arial, sans-serif;
    background-color: #B2EBF2; /* Babyblauw achtergrond */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-family: 'Knewave', cursive;
    font-size: 2em;
    margin-bottom: 20px;
    color: #0046A6;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Ruimte tussen de invoervelden */
}

label {
    text-align: left;
    font-size: 1.1em;
    color: #333;
}

input {
    padding: 15px; /* Grotere invoervelden */
    font-size: 1.2em; /* Grotere tekstgrootte */
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

input:focus {
    border-color: #0046A6;
}

button {
    padding: 15px;
    font-size: 1.2em;
    background-color: #FF9900;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #E68900;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    color: #FF0000;
}
