body {
  font-family: 'IBM Plex Sans', sans-serif;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  margin: 0;

  animation: gradient 10s ease infinite;
  background: #94101f;
  background: linear-gradient(135deg, #85101e 0%, #eb1932 50%, #85101e 100%);  
  background-size: 300% 300%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Pattern layer */
#patternLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-image: url('./assets/shapes.png');
  background-size: 400px 400px;
  background-repeat: repeat;
  pointer-events: none;
  opacity: 7%;
}



/* Scoreboard container pinned near top center */
.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  z-index: 3;

  width: 600px; /* Was 400px */
}

.scoreboard h1 {
  margin: 1rem;
  font-size: 72px;
  color: #fff;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}


/* Container for top 10 slots */
.slots-container {
  position: relative;
  width: 100%;
  height: 800px; /* for 10 slots, each ~60px tall */
  /* overflow: hidden; */
  perspective: 1000px;
}

#scoreList {
  position: relative;
  /* list-style: none; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.score-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.score-name {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 20px;

  font-size: 24px;
  transition: color 1s ease;
}

.score-value {
  font-weight: bold;
  min-width: 60px;
  text-align: right;

  font-size: 28px;
  transition: color 1s ease;
}






/* Each slot is absolutely positioned */
#scoreList li {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
    color: #fff;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #fff;
  padding: 0 10px; 
  font-size: 20px;
  font-weight: 400;
  /* turn off built-in CSS transitions so GSAP can handle them */
  transition: none !important;
  will-change: transform, opacity;

  padding: 0 30px;

  margin: 5px 0; /* Add vertical spacing */
  transform-origin: center; /* Better for animations */

  transition: background-color 0.5s ease !important; /* Allow GSAP to control this */
}

::marker {
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 1);
  font-size: 30px;
  font-weight: bold;
}



/* Canvas for animations behind scoreboard */
#backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
